html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border: 1px lightslategray solid;
    border-radius: 8px;
    background-color: white;
    margin: 50px 0px;
    padding: 8px;
}

.row {
    flex: 1;
    display: flex;
    align-items: stretch;
    margin-bottom: 8px;
    gap: 8px;
}

#display {
    width: 100%;
    display: flex; 
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 50px;
    border: 1px lightgray solid;
    border-radius: 8px;
    background-color: dimgrey;
    color: white;
    padding: 0 16px;
    scroll-behavior: smooth;
    white-space: nowrap;
}

#displayContent {
    display: inline-block;
    min-width: 100%;
    text-align: right;
    white-space: nowrap;
}

button {
    flex: 1;
    font-size: 24px;
    border: none;
    border-radius: 8px;
}

button, #clear, #equal {
    transition: background-color 0.2s ease;
}

button:hover {
  background-color: #ddd;
}

.operator {
    background-color: rgb(250, 241, 160);
}

.operator:hover {
    background-color: rgb(255, 230, 100);
}

#clear {
    background-color: rgb(255, 66, 66);
}

#clear:hover {
    background-color: rgb(220, 40, 40);
}

#equal {
    background-color: mediumspringgreen;
}

#equal:hover {
    background-color: rgb(0, 220, 135);
}